* {
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.87);
  font-family: sans-serif;
  text-size-adjust: 100%;
  display: block;
  -webkit-locale: "en-US";
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "calt";
}

nav {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  background-color: #fff !important;
  height: 100%;
}

a {
  display: inline-block !important;
  color: currentcolor;
  background-color: transparent;
}

li {
  text-align: -webkit-match-parent;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  .logo-link-div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .menu-link,
  .rewards-link,
  .gift-cards-link {
    font-size: 1.4rem !important;
  }

  .rewards-inner-items,
  .winter-menu-inner-items,
  .black-history-inner-items {
    display: flex !important;
  }

  .rewards-inner-items-right,
  .rewards-inner-items-left,
  .winter-menu-inner-items-left,
  .winter-menu-inner-items-right,
  .black-history-inner-items-left,
  .black-history-inner-items-right {
    width: calc(50%);
  }
  .rewards-inner-items-left-content,
  .winter-menu-inner-items-right-content,
  .black-history-inner-items-right-content {
    max-width: 83%;
  }

  .rewards-left-title,
  .winter-right-paragraph,
  .uber-eats-title2,
  .black-history-title {
    font-size: 24px;
  }

  .rewards-left-paragraph,
  .uber-eats-paragraph,
  .uber-eats-paragraph2,
  .black-history-paragraph {
    font-size: 19px;
  }

  .mark-inner-items-content {
    max-width: 60%;
  }

  .mark-paragraph {
    font-size: 14px;
  }

  .footer-about-to-order h3 {
    font-size: 1.9rem !important;
  }
}

@media (min-width: 1024px) {
  .nav-container,
  .footer-inner {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .logo-link-div {
    margin-right: 4rem !important;
  }

  .menu-link,
  .rewards-link,
  .gift-cards-link {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

  .winter-right-title {
    font-size: 50px;
    letter-spacing: 2px;
  }

  .footer-about-to-order {
    display: flex !important;
  }

  .about-us,
  .careers,
  .social-impact,
  .for-business-partners,
  .order-and-pickup {
    display: inline-block !important;
  }

  .careers,
  .social-impact,
  .for-business-partners,
  .order-and-pickup {
    margin-left: 3.2rem !important;
  }
}

@media (min-width: 1280px) {
  .rewards-inner-items-left {
    padding: 4.8rem;
  }

  .winter-menu-inner-items-right,
  .uber-eats-left-bottom,
  .black-history-inner-items-right,
  .mark-inner-items-content {
    padding: 0 4.8rem;
  }

  .uber-eats-right-bottom {
    padding: 0 4.8rem !important;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  z-index: 3;
}

.nav-flex-container {
  display: flex !important;
  align-items: center !important;
}

.logo-link-div {
  width: 51px;
  height: 51px;
}

.logo-link {
  display: block;
  cursor: pointer;
  text-decoration: underline;
}

.logo-img {
  overflow: hidden;
  display: block !important;
  fill: currentcolor;
  width: 100%;
  height: 100%;
}

.nav-links-and-buttons {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-left {
  flex-shrink: 0 !important;
}

.nav-left ul {
  list-style: none;
  padding-left: 0;
}

.nav-left ul li:hover {
  color: rgb(0, 117, 74);
}

.menu {
  padding-left: 0;
  display: inline-block;
}

.menu-link {
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
  font-weight: 700 !important;
  display: inline-block !important;
}

.rewards {
  display: inline-block;
  padding-left: 2.4rem;
}

.rewards-link {
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
  font-weight: 700 !important;
}

.gift-cards {
  display: inline-block;
  padding-left: 2.4rem;
}

.gift-cards-link {
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
  font-weight: 700 !important;
}

.nav-right {
  font-size: 1.4rem;
  margin-left: auto !important;
  flex-shrink: 0 !important;
}

.nav-right-items {
  margin-left: 4rem !important;
  align-items: center !important;
  display: flex !important;
}

.find-store {
  text-align: inherit;
  text-decoration: none !important;
  font-weight: 600 !important;
  margin-right: 4rem !important;
  display: inline-block !important;
}

.find-store:hover {
  color: rgb(0, 117, 74);
}

.location-img {
  width: 32px;
  height: 24px;
  overflow: visible;
  fill: currentColor;
  padding-right: 0.8rem !important;
  vertical-align: middle !important;
  text-align: inherit;
  font-weight: 600 !important;
}

.sign-in {
  min-width: 0;
  min-height: 0;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-right: 1.6rem !important;
}

.sign-in:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.join-now {
  min-width: 0;
  min-height: 0;
  background-color: #000;
  border-color: #000;
  color: #fff;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
}

.join-now:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.rewards-container {
  max-width: 1440px;
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 3.2rem auto !important;
}

.rewards-inner {
  box-sizing: border-box;
}

.rewards-inner-items {
  flex-direction: row-reverse;
}

.rewards-inner-items-right {
  box-sizing: inherit;
}

.rewards-img {
  display: block !important;
  max-width: 100%;
  height: auto;
  border: 0;
  box-sizing: inherit;
}

.rewards-inner-items-left {
  background-color: #006241;
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
  box-sizing: inherit;
}

.rewards-inner-items-left-content {
  text-align: center !important;
}

.rewards-left-title {
  color: #ffffff;
  font-weight: 600 !important;
  margin-bottom: 2.4rem !important;
  text-align: center !important;
}

.rewards-left-paragraph {
  max-width: calc(1em * (calc(600 / 13)));
  color: #ffffff;
  line-height: 1.75;
  text-align: center !important;
}

.rewards-left-button {
  min-width: 35px;
  min-height: 35px;
  color: #fff;
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-top: 3.2rem !important;
  cursor: pointer;
}

.rewards-left-button:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
}

.winter-menu-container {
  max-width: 1440px;
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 3.2rem auto !important;
}

.winter-menu-inner {
  box-sizing: border-box;
}

.winter-menu-inner-items-left {
  background-color: #1e3932;
}

.winter-menu-img {
  display: block !important;
  max-width: 100%;
  height: auto;
  border: 0;
}

.winter-menu-inner-items-right {
  background-color: #1e3932;
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
  text-align: center !important;
}

.winter-menu-inner-items-right-content {
  text-align: center !important;
}

.winter-right-title {
  color: #ffffff;
  line-height: 1.2;
  font-weight: 600 !important;
  margin-bottom: 2.4rem !important;
  text-align: center !important;
}

.winter-right-paragraph {
  color: #ffffff;
  text-align: center !important;
  max-width: calc(1em * (calc(600 / 13)));
}

.winter-right-button {
  min-width: 35px;
  min-height: 35px;
  color: #fff;
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-top: 3.2rem !important;
}

.winter-right-button:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
}

.uber-eats-container {
  max-width: 1440px;
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 3.2rem auto !important;
}

.uber-eats-inner-items {
  display: flex !important;
}

.uber-eats-inner-items-left {
  width: calc(100% * (6 / 12));
  flex-direction: column !important;
  display: flex !important;
}

.uber-eats-inner-items-left-content {
  height: 100% !important;
  margin-right: 1.6rem !important;
  display: flex !important;
  align-items: stretch !important;
  flex-direction: column !important;
}

.uber-eats-left-top {
  background-color: #d4e9e2;
  width: calc(100% * (12 / 12));
  padding-bottom: 0.8rem !important;
}

.uber-eats-img {
  display: block !important;
  max-width: 100%;
  height: auto;
  border: 0;
}

.uber-eats-left-bottom {
  background-color: #d4e9e2;
  padding-bottom: 3.2rem !important;
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.uber-eats-left-bottom-content {
  text-align: center !important;
}

.uber-eats-title {
  color: #1e3932;
  font-size: 24px;
  font-weight: 600 !important;
  margin-bottom: 2.4rem !important;
}

.uber-eats-paragraph {
  color: #1e3932;
  max-width: calc(1em * (calc(600 / 13)));
  line-height: 1.75;
}

.uber-eats-button {
  min-width: 35px;
  color: #1e3932;
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-top: 3.2rem !important;
}

.uber-eats-button:hover {
  background-color: rgba(30, 57, 50, 0.1);
}

.uber-eats-inner-items-right {
  width: calc(100% * (6 / 12));
  display: flex !important;
  flex-direction: column !important;
}

.uber-eats-inner-items-right-content {
  height: 100% !important;
  margin-left: 1.6rem !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: stretch !important;
}

.uber-eats-right-top {
  background-color: #d4e9e2;
  width: calc(100% * (12 / 12));
  padding-bottom: 0.8rem !important;
}

.uber-eats-img2 {
  display: block !important;
  max-width: 100%;
  height: auto;
  border: 0;
}

.uber-eats-right-bottom {
  background-color: #d4e9e2;
  padding-bottom: 3.2rem !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  text-align: center !important;
}

.uber-eats-right-bottom-content {
  text-align: center !important;
}

.uber-eats-title2 {
  color: #1e3932;
  font-weight: 600 !important;
  margin-bottom: 2.4rem !important;
}

.uber-eats-paragraph2 {
  color: #1e3932;
  max-width: calc(1em * (calc(600 / 13)));
  line-height: 1.75;
  text-align: center !important;
}

.uber-eats-button2 {
  min-width: 35px;
  color: #1e3932;
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-top: 3.2rem !important;
  cursor: pointer;
}

.uber-eats-button2:hover {
  background-color: rgba(30, 57, 50, 0.1);
}

.black-history-container {
  max-width: 1440px;
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 3.2rem auto !important;
}

.black-history-inner {
  box-sizing: border-box;
}

.black-history-image {
  display: block !important;
  max-width: 100%;
  height: auto;
  border: 0;
}

.black-history-inner-items-right {
  background-color: #cdddd9;
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
  text-align: center !important;
}

.black-history-inner-items-right-content {
  text-align: center !important;
}

.black-history-title {
  font-weight: 600 !important;
  margin-bottom: 2.4rem !important;
  margin: 0;
}

.black-history-paragraph {
  color: #000000;
  max-width: calc(1em * (calc(600 / 13)));
  line-height: 1.75;
  text-align: center !important;
}

.black-history-button {
  min-width: 35px;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-top: 3.2rem !important;
  cursor: pointer;
}

.black-history-button:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.mark-container {
  max-width: 1440px;
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 3.2rem !important;
}

.mark-inner {
  box-sizing: border-box;
}

.mark-inner-items {
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
}

.mark-inner-items-content {
  text-align: center !important;
}

.mark-paragraph {
  max-width: calc(1em * (calc(600 / 13)));
  line-height: 1.8;
  text-align: center !important;
}

.footer {
  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  position: relative !important;
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}

.about-us,
.careers,
.social-impact,
.for-business-partners,
.order-and-pickup {
  width: 190px;
  max-width: 190px;
}

.footer-about-to-order h3 {
  margin-bottom: 2.4rem !important;
  font-weight: 400;
  margin: 0;
}

.footer-about-to-order ul {
  display: inline-block !important;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-about-to-order ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.footer-about-to-order ul li a {
  color: rgba(0, 0, 0, 0.58);
  text-decoration: none !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  margin-bottom: 0.8rem !important;
  display: block !important;
  background-color: transparent;
  cursor: pointer;
}
