
* {
    margin: 0;
}

body {
    height: 100%;
    background-color: #fff;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
}

@media (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }
}

.header {
    position: relative;
    z-index: 3;
}

.logo {
    height: 51px;
    width: 51px;
}